*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
}

.nav{
  height: 5rem;
  background-color:crimson;
  padding: 1rem 0;
  
}

.nav-title{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  letter-spacing: 3px;
}

.nav-center{  
  width: 90vh;
  max-width: 1170px;
  margin: 0 auto;

}

.hero{
  background: linear-gradient(to right,
  rgba(0, 0, 0, 0.5),
  rgb(105, 6, 6, 0.7)),
  url(/img/lancer_bg.jpg);
  min-height: calc(100vh - 5rem);
  background-size: cover;
  /*acima, calculo para que ocupe a tela toda, como a navbar é 5rem, subtraimos, usando vh, para que em telas maiores se adapte*/
}

.hero-center{
  width: 90vh;
  max-width: 1170px;
  margin: 0 auto;
  padding: 5rem 0;
  color: #fff;
}

.hero-center h1{
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
}

.hero-center p {
  margin-bottom: 1.5rem;
}

.hero-btn{
  background: transparent;
  border: 1px solid #fff;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  color:#fff;
  letter-spacing: 2px;
}